@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    margin: 0;
    background-color:	#dbc1ac;
    
}
h1{
      display: flex;
justify-content: center;
    color: #38220f;
      font-family: "Pixelify Sans", sans-serif;
      font-weight: 30;
      margin-bottom: 130px;
      font-size: 60px;
}
#display{
    display: block;
    width: 700px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    margin-bottom: 100px;
    background-color: #634832;
   text-align: center;
    color: #dbc1ac;
     font-family: "Pixelify Sans", sans-serif;
      font-size: 40px;
      letter-spacing: 5px;
}


#btns{
    display: flex;
justify-content: center;
}
button{
    margin: 10px;
    background-color: #ece0d1;
    color: #38220f;
    font-size: large;
    cursor: pointer;
    border: none;
     border-radius: 5px;
    padding: 20px;
    font-family: "Pixelify Sans", sans-serif;
      font-size: 40px;
}
button:hover{
      background-color: #967259;
      color: white;
}
button:active{
    background-color: #967259c4;
}
.main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;

}
#svg {
 
}